<div class="ui message">
  <div class="header">
    Message Template Review
  </div>
  <ul class="list">
    <li>Title: TITLE</li>
    <li>Channel: CHANNEL</li>
    <li>Content: CONTENT</li>
  </ul>
</div>
<div class="ui message">
  <div class="header">
    Customer Information Review
  </div>
  <ul class="list">
    <li>Reference: REFERENCE</li>
    <li>Email: EMAIL</li>
    <li>Mobile Number: TELEPHONE</li>
  </ul>
</div>
<button class="ui right floated large violet submit button" (click)="confirm()">Send Message</button>
