<div class="row">
  <h1 class="ui huge dividing header">{{ title | titlecase }}</h1>
</div>
<br />
<div class="row">
  <div class="ui raised violet card fluid">
    <div class="content">
      <div class="header">Sending Trends</div>
      <div class="description">
        <anfon-syml-overview-chart></anfon-syml-overview-chart>
      </div>
    </div>
  </div>
</div>
<br />
<div class="row">
  <div class="ui three column grid">
    <div class="column">
      <div class="ui violet segment">
        <a class="ui violet ribbon label">WEEKLY</a>
        <h3 class="ui center aligned header">SMS: <a class="ui purple huge circular label">{{weekly.sms}}</a>
          Email: <a class="ui purple huge circular label">{{weekly.email}}</a></h3>
      </div>
    </div>
    <div class="column">
      <div class="ui violet segment">
        <a class="ui violet ribbon label">MONTHLY</a>
        <h3 class="ui center aligned header">SMS: <a class="ui purple huge circular label">{{monthly.sms}}</a>
          Email: <a class="ui purple huge circular label">{{monthly.email}}</a></h3>
      </div>
    </div>
    <div class="column">
      <div class="ui violet segment">
        <a class="ui violet ribbon label">YEARLY</a>
        <h3 class="ui center aligned header">SMS: <a class="ui purple huge circular label">{{yearly.sms}}</a>
          Email: <a class="ui purple huge circular label">{{yearly.email}}</a></h3>
      </div>
    </div>
  </div>
</div>
<br />
<div class="row">
  <div class="ui raised violet card fluid">
    <div class="content">
      <div class="header">Financial Summary</div>
      <div class="description">
        <anfon-syml-financial-chart></anfon-syml-financial-chart>
      </div>
    </div>
  </div>
</div>
