<div class="row">
  <h1 class="ui huge dividing header">{{ title | titlecase }}</h1>
</div>
<div class="ui raised violet card fluid">
  <div class="content">
    <div class="description">
      <form class="ui large form" [formGroup]="templateForm" (ngSubmit)="onSubmit()">
        <div class="field">
          <label>Template Title</label>
          <input type="text" formControlName="title">
        </div>
        <div class="field">
          <label>Select your channel</label>
          <select formControlName="channel">
            <option value="SMS">SMS</option>
            <option value="Email">Email</option>
          </select>
        </div>
        <div class="field">
            <label>Message Content</label>
            <textarea formControlName="content" rows="3" [(ngModel)]="content"></textarea>
        </div>
        <div *ngIf="content">
          <p>{{ 170 - content.length }} characters remaining</p>
        </div>
        <button class="ui right floated large violet submit button" (click)="onSubmit()">Create Template</button>
    </form>
    </div>
  </div>
</div>
<div class="ui raised violet card fluid">
  <div class="content">
    <div class="header">
      Built Templates
    </div>
    <div class="description">
      <table class="ui celled table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Title</th>
            <th>Channel</th>
            <th>Content</th>
        </tr>
      </thead>
        <tbody>
          <tr *ngFor="let template of template$ | async">
            <td data-label="Date">{{template.date.toDate() | date: 'dd/MM/yyyy'}}</td>
            <td data-label="Title">{{template.title}}</td>
            <td data-label="Channel">{{template.channel}}</td>
            <td data-label="Content">{{template.content}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
