<div class="row">
  <h1 class="ui huge dividing header">{{title | titlecase}}</h1>
</div>
<br />
<div class="ui raised violet card fluid">
  <div class="header">
    <div class="ui ordered steps fluid">
      <div class="completed step">
        <div class="content">
          <div class="title">Template</div>
          <div class="description">Choose or create a template</div>
        </div>
      </div>
      <div class="active step">
        <div class="content">
          <div class="title">Customers</div>
          <div class="description">Enter your audience details</div>
        </div>
      </div>
      <div class="link step">
        <div class="content">
          <div class="title">Simply Send</div>
          <div class="description">Confrim details and send</div>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <p>Content of the subcomponent</p>
  </div>
</div>

